#python-magic
# Windows
python-magic-bin
Flask~=2.3
colorama~=0.4
requests~=2.31
semver~=3.0.2
pillow~=10.3
label-studio-sdk
shapely
pyclipper
lanms-nova
scikit-image
imgaug
pymilvus
ruamel.yaml

paddleclas

git+https://github.com/HumanSignal/label-studio-tools.git
git+https://github.com/xinyu1205/recognize-anything.git
git+https://github.com/amazon-science/chronos-forecasting.git





